extends layout

block content
        h1 #{title}
        form(method='POST', action='/user/add')
           #form-group
                label Name:
                input.form-control(name='Name', type='text')
           #form-group
                label Descrition:
                input.form-control(name='Description', type='text')
           input.btn.btn-primary(type='submit', value='Submit')    